<div class="jumbotron d-flex flex-column justify-content-center" style="height: 100vh;">
  <h1 class="display-4 ">Stock Monitor API</h1>
  <p class="lead">This is an API which you can create your own watchlist so that you can monitor the stock price and
    have it shown on your wifi-display. For More Info, Please Check out the Documentation</p>
  <a class="col-md-3 btn btn-primary btn-lg" style="max-height: 50px;"
    href="https://yinnyc.github.io/stock_monitor_API/" role="button">Documentation</a>
  <hr />
  <p>Built <a href='https://github.com/yinnyC'>@yinnyC</a>. Check out the github repo to find out more cool projects!
  </p>
</div>